:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color:  #FAF0E6;
  color: #483C32; 
}

.page-header {
  font-size: 80px;
  font-weight: bold;
  text-align: left;
  margin: 20px 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
/*NaveBar*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #483C32;
  color: black;
  padding: 10px;
  transition: background-color 0.3s ease;
  font-family: 'Arial', sans-serif;
  border-radius: 10px;
}
.left-links {
  display: flex;
}

.nav-links {
  display: flex;
}

.right-links {
  display: flex;
}
.nav-link {
  padding: 8px 16px;
  text-decoration: none;
  color: #FAF0E6;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  
}
.nav-link:hover {
  background-color: #FAF0E6;;
  border-radius: 10px;
  color: #483C32; 
}

/*Home*/
.home-container {
  max-width: 2000px;
  margin: 0 auto;
  padding: 20px;
}

.hero-features {
  text-align: center;
  margin: 20px 0;
  font-family: 'Lato', sans-serif;
}

.feature-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.feature-card {
  background-color: #AEC6CF;
  border: 1px solid #483C32; 
  border-radius: 25px;
  padding: 20px;
  margin: 10px;
  width: calc(45% - 20px);
  height: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 180px;
  min-height: 180px;
  box-shadow: 0 4px 8px #483C32;
}

.feature-card h4 {
  color: #483C32; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 19px;
}
.feature-card p {
  color: #483C32;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
}
.home-button {
  text-align: center;
  margin: 20px 0;
}

.home-button-style {
  background-color: #AEC6CF;
  color: #483C32;
  padding: 15px 30px;
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 1px solid #483C32; 
}
.home-button-style:hover {
  background-color: #483C32;
  color: #AEC6CF;
}

.divider {
  height: 2px;
  background-color: #483C32;
  margin: 20px 0; 
}
.user-testimonials h3,
.featured-events h3 {
  color: #483C32;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}
.testimonials,
.featured-events {
  text-align: center;
  margin: 40px 0;
}

.square-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 20px;
  min-height: 200px;
}

.square-box {
  background-color: #AEC6CF;
  border: 1px solid #483C32;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: calc(30% - 10px);
  height: 200px;
  box-shadow: 0 4px 8px #483C32;
  color: #483C32;
  text-align: center;
  font-family: 'Arial', sans-serif;
  max-height: 300px;

  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.footer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.footer-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-list li {
  margin-right: 20px;
}
/*Forms*/

.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

/* Form card styles */
.form-card {
  background-color: #AEC6CF;
  color: #483C32;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  max-width: 400px;
  width: 100%;
  border-color: #483C32;
  margin-top: 120px;
}

/* Form name styles */
.form-name {
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
}

/* Form input styles */
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  margin-bottom: 20px;
  background-color: #fff; /* Match background color */
}

/* Error message styles */
.error-message {
  color: red;
  margin-top: -10px;
  margin-bottom: 20px;
}

/* Show password styles */
.show-password {
  margin-top: 5px;
  cursor: pointer;
  color: #483C32; /* Match link color */
}

/* Submit button styles */
.submit-button {
  background-color: #483C32;/* Match link color */
  color: #AEC6CF;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  cursor: pointer;
  width: 100%;
}

.submit-button:hover {
  background-color: #FAF0E6;
  color: #483C32;
}

/* Sign up message styles */
.message {
  margin-bottom: 10px;
}

/* Sign up button styles */
.signup-btn {
  background-color: transparent;
  color: var(--link); /* Match link color */
  border: none;
  cursor: pointer;
}

.signup-btn:hover {
  text-decoration: underline;
}

/*Display Events*/
.no-events-container {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  height: 50vh; 
}

.no-events-message {
  font-size: 2em;
  color: #483C32;
  text-align: center;
  padding: 20px;
  border: 1px solid #483C32;
  border-radius: 10px;
  box-shadow: 0 4px 8px #483C32
}

.event-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.event-card {
  flex: 1;
  flex-basis: calc(20% - 32px);
  min-width: 300px;
  max-width: 400px;
  margin: 16px;
  box-sizing: border-box;
  border: 1px solid #483C32;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: transparent; 
}

.event-card:hover {
  transform: scale(1.05);
}

.event-card-title {
  font-size: 1.5em;
  margin-bottom: 8px;
  text-align: center;
  -webkit-text-fill-color:  #483C32;
}

.event-card-details {
  display: flex;
  flex-direction: column;
  color:  #483C32;
}

.event-card-details p {
  margin: 8px 0;
}

.event-card-description {
  color: #483C32; 
  font-size: 1.2em;
  margin-bottom: 8px;
  text-align: center;
}

.event-card-status {
  margin-top: 12px;
  font-weight: bold;
  text-transform: capitalize;
  color: #483C32;
  text-align: center;
}
/*Create event card*/
.create-event-header{
  color: #483C32;
  text-align: center;
}

.event-form-card {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background-color: #AEC6CF;
  border: 3px solid #483C32;
  border-radius: 8px;
  box-shadow: 0 4px 8px #483C32;
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.form-group-description{
  width: 105%;
  margin-left: 40px;
}
.create-event-form {
  width: 100%; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  width: 100%; 
  margin-bottom: 20px;
}

label {
  font-size: 1.2em;
  margin-bottom: 8px;
  color: #483C32;
  align-self: flex-start;
}

textarea {
  width: calc(100% - 20px); /* Adjust width with padding */
  height: 100px;
  padding: 10px;
  border: 1px solid #483C32;
  border-radius: 5px;
  box-sizing: border-box;
  resize: none;
}

.input {
  width: 100%; /* Set width to 100% for all inputs except textarea */
  padding: 10px;
  border: 1px solid #483C32;
  border-radius: 5px;
}
.form-group{
  max-width: 380px;
}
.error {
  color: red;
  margin-top: 4px;
}

.submit-button {
  background-color: #483C32;
  color: #FAF0E6;;
  padding: 12px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #FAF0E6;
  color: #483C32;
}

/*invitations*/
.invitations-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #FAF0E6;
  border: 1px solid #483C32;
  border-radius: 8px;
  box-shadow: 0 4px 8px #483C32;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.invitations-header {
  color: black;
  text-align: center;
}

.user-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-card {
  display: block;
  align-items: center;
  margin: 10px;
  border: 1px solid #483C32;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 80px;
  width: 200px;
}

.user-card.selected {
  background-color:  #AEC6CF;
  color: #fff;
}

.user-label {
  text-align: center;
  margin-top: 20px;
  margin-bottom: auto;
}

.submit-container {
  margin-top: 20px;
  text-align: center;
}

.submit-button {
  background-color: #483C32;
  color: #FAF0E6;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.warning-message{
  color: black
}

/*create tasks*/
.task-form-container{
  max-width: 400px;
  margin: 40px auto; /* Adjust the margin to add space from the top */
  padding: 20px;
  background-color: #AEC6CF;
  border: 1px solid #483C32;
  border-radius: 8px;
  box-shadow: 0 4px 8px #483C32;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
}

.submit-button-container{
  max-width: 150px; 
  text-align: center;
  margin: 0 auto;
}

.task-header{
  color: #483C32;
}
.due-date-input {
  width: 200px; /* Set the desired width */
  margin-left: auto; /* Move it to the right */
}
.error-message {
  color: red;
  font-size: 14px; 
  margin-top: 4px; 
}
.task-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  text-align: center;
}

.task-card {
  flex: 1 0 calc(25% - 16px); /* 3/4 boxes per line (25% width each with 16px gap) */
  min-width: 20px;
  max-width: 300px;
  margin: 16px;
  box-sizing: border-box;
  border: 1px solid #483C32;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px #483C32;
  background-color: transparent;
  word-wrap: break-word;
  white-space: pre-line;
  font-size: 16px; /* Adjust the font size as needed */
}

/*Event*/
.centered-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}
.single-event-card {
  flex: 1;
  flex-basis: calc(20% - 32px);
  min-width: 500px;
  max-width: 400px;
  margin: 16px;
  box-sizing: border-box;
  border: 1px solid #483C32;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px #483C32;
  background-color: transparent;
}
.single-event-card-title {
  font-size: 1.5em;
  margin-bottom: 8px;
  text-align: center;
  -webkit-text-fill-color: #483C32;
  -webkit-text-stroke: 0.6px black;
}
.single-event-card-details {
  display: flex;
  flex-direction: column;
  color: #483C32;
}

.single-event-card-details p {
  margin: 8px 0;
}
.single-event-card-title{
  font-size: 40px;
}

.single-event-card-text{
  font-size: 20px;
}
.single-event-card-description{
  text-align: center;
  font-size: 24px;
}

.single-event-card:hover {
  transform: scale(1.05);
}
.invite-header{
  text-align: center;
  font-size: 40px;
  color: #483C32
}
.invite-card{
  display: inline-block;
  flex: 1;
  flex-basis: calc(20% - 32px);
  min-width: 100px;
  max-width: 300px;
  margin: 16px;
  box-sizing: border-box;
  border: 1px solid #483C32;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px #483C32;
  background-color: transparent;
  color: #483C32;
}
